.u-section-1 .u-sheet-1 {
  min-height: 514px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 59px auto 0;
}

.u-section-1 .u-form-1 {
  width: 570px;
  margin: 29px 285px 59px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    margin-left: 185px;
    margin-right: 185px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    margin-left: 75px;
    margin-right: 75px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
}